<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despre noi</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/about-us.css">
</head>

<body>
    <header>
        <div class="logo-wrapper">
            <a href="./home.html">
                <img src="../images/logo.jpg" alt="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    Acasa
                </li>
                <li>
                    Despre noi
                </li>
                <li>
                    Portofoliu
                </li>
                <li>
                    Servicii
                </li>
                <li>
                    <a href="./testimonials.html">
                        Testimoniale
                    </a>
                </li>
                <li>
                    <a href="contact">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Meet the team</h1>
        <div class="about-us-cards-container">
            <div class="about-us-card">
                <div class="image-wrapper">
                    <img src="../images/about-us/alina.jpeg" alt="Alina">
                </div>
                <div class="content-wrapper">
                    <h3>
                        Alina Darclée
                    </h3>
                    <hr>
                    <div class="content">
                        <p>
                            Inițial, Alina și-a început cariera de planificare a nunții la Paris. De când s-a întors în
                            orașul ei natal,
                            Bucuresti, ea a planificat o varietate de nunți, care au variat de la întâlniri intime la
                            mari sărbători.
                            Heather îți va îndepărta stresul de pe umerii tăi, astfel încât tu și invitații tăi să te
                            poți bucura de ziua
                            cea mare!
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-us-card">
                <div class="image-wrapper">
                    <img src="../images/about-us/larisa.jpg" alt="Alina">
                </div>
                <div class="content-wrapper">
                    <h3>
                        Larisa Nicolae
                    </h3>
                    <hr>
                    <div class="content">
                        <p>
                            Trecutul ei profesional inglobeaza proiecte organizate la scala mare, medie si mijlocie:
                            forumuri de business, petreceri private si numeroase evenimente caritabile. Astazi, Larisa
                            lucreaza in departamentul de evenimente, asigurandu-se ca fiecare experienta livrata
                            clientilor este una unica si potrivita nevoilor lor!
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-us-card">
                <div class="image-wrapper">
                    <img src="../images/about-us/william.jpg" alt="Alina">
                </div>
                <div class="content-wrapper">
                    <h3>
                        William Popescu
                    </h3>
                    <hr>
                    <div class="content">
                        <p>
                            William este un fotograf care a călătorit mult în ultimii zece ani și a decis să-și extindă
                            orizonturile creative către rochii albe și papioane aici, în Romania. Atingerea lui
                            europeană va aduce cu siguranță ceva special în ziua nunții tale!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>