<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acasa</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <header>
        <div class="logo-wrapper">
            <a href="./home.html">
                <img src="../images/logo.jpg" alt="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    Acasa
                </li>
                <li>
                    <a href="./about-us.html">
                        Despre noi
                    </a>
                </li>
                <li>
                    <a href="./portofolio.html">
                        Portofoliu
                    </a>
                </li>
                <li>
                    <a href="./services.html">
                        Servicii
                    </a>
                </li>
                <li>
                    <a href="./testimonials.html">
                        Testimoniale
                    </a>
                </li>
                <li>
                    <a href="./contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="presentation-section">
            <video autoplay muted loop>
                <source src="../videos/video.mp4" type="video/mp4">
                Your browser does not support HTML5 video
            </video>
            <div class="content-wrapper">
                <div class="content">
                    <h2>
                        Echipa Crystal Maiden Events
                    </h2>
                    <div class="contact-button-wrapper">
                        <a href="./contact.html" class="contact-button">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="about-us-section">
                <div class="content-container">
                    <h2>
                        Despre noi
                    </h2>
                    <p>
                        Pasiunea inseamna grija! Asa ca ne place sa credem ca nu ne ocupam doar de planificare si organizarea unui eveniment, ci ne ingrijim ca acesta sa iasa 
                        asa cum si-l doresc clientii nostri.
                    </p>
                    <p>
                        Scopul nostru este acela de a crea si organiza evenimente rafinate, unice si memorabile, oferind in acelasi timp o experienta premium si lipsita de 
                        stres pe intreaga durata a pregatirilor evenimentului.
                    </p>
                </div>
                <div class="image-wrapper">
                    <img src="../images/about-us.jpeg" alt="About Us image">
                </div>
            </section> -->
    </main>
</body>

</html>