<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicii</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
        integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header>
        <div class="logo-wrapper">
            <a href="./home.html">
                <img src="../images/logo.jpg" alt="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    Acasa
                </li>
                <li>
                    Despre noi
                </li>
                <li>
                    Portofoliu
                </li>
                <li>
                    Servicii
                </li>
                <li>
                    <a href="./testimonials.html">
                        Testimoniale
                    </a>
                </li>
                <li>
                    <a href="contact">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>LUXURY WEDDING + EVENT PLANNING</h1>
        <h2>SOUTHERN CALIFORNIA | NEW YORK | DESTINATION</h2>
        <h5>We know that every wedding is unique, that's why we offer several wedding planning and design collections
            to suit every couple's individual needs.</h5>
        <h5>We would love to set up a phone call to chat about the stylish details of your big day to customize a custom
            planning collection!</h5>
        <div class="services-cards-container">
            <div class="service-card">
                <div class="image-wrapper">
                    <img src="../images/about-us/alina.jpeg" alt="Alina">
                </div>
                <div class="content-wrapper">
                    <div class="top-content">
                        <p>Servicii de planificare a nuntii</p>
                        <i class="fa-solid fa-chevron-up"></i>
                    </div>
                    <div class="hidden-content">
                        <p>Toate colecțiile de planificare includ, dar nu se limitează la, următoarele servicii:</p>
                        <p>Asistență în găsirea locului perfect pentru nuntă</p>
                        <p>Recomandări complet personalizate ale furnizorilor</p>
                        <p>Revizuirea contractului furnizorului</p>
                        <p>Planificarea bugetului</p>
                        <p>Completați o zi de management cu planificatorul principal și echipa de planificare
                            asistentă</p>
                        <p>Asistență pentru rezervarea blocurilor de camere de nuntă la hotelurile locale</p>
                        <p>Sfaturi și îndrumări în timpul procesului de planificare</p>
                        <p>Număr nelimitat de telefon, mesaje text sau e-mail cu planificatorul dvs. Stylish Details
                            în timpul perioadei de planificare contractată</p>
                        <p>Aranjarea cazarii si transportului oaspetilor</p>
                        <p>Crearea cronologiei principale</p>
                        <p>Coordonarea repetiției ceremoniei înainte de ziua nunții</p>
                        <p>Management complet al furnizorilor</p>
                        <p>Set decor complet</p>
                        <p>Colectare de obiecte personale și cadouri</p>
                        <p>Supravegherea grevei vânzătorilor la sfârșitul nunții</p>
                    </div>
                </div>
            </div>
            <div class="service-card">
                <div class="image-wrapper">
                    <img src="../images/about-us/larisa.jpg" alt="Alina">
                </div>
                <div class="content-wrapper">
                    <div class="top-content">
                        <p>Servicii pentru proiectarea nuntii</p>
                        <i class="fa-solid fa-chevron-up"></i>
                    </div>
                    <div class="hidden-content">
                        <p>
                            Serviciile de design de nuntă sunt incluse atât în colecțiile noastre de planificare
                            parțială, cât și în cele complete, dar pot fi selectate și a la carte după cum este necesar.
                        </p>
                        <p>
                            Un pachet personalizat pentru nunta, adaptat fiecarui eveniment
                        </p>
                        <p>
                            Consultație privind aspectul general al nunții
                        </p>
                        <p>
                            Consultatie pe paleta de culori de nunta
                        </p>
                        <p>
                            Aprovizionare cu toate închirierile și lenjeria de specialitate
                        </p>
                        <p>
                            Consultanta cu privire la designul invitatiei de nunta
                        </p>
                        <p>
                            Consultanță privind bunurile din hârtie și designul de semnalizare
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>